/* ProductItem.css */

.product-container2{
    background-color: #e6e8e6 !important;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-image2{ 
    width: 100%; 
    height: 200px;
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.no-image2 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.product-details2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.product-category2, .product-subcategory2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.product-category2 span, .product-subcategory2 span {
    flex: 1;
    text-align: left;
    margin-right: 5px;
    cursor: pointer;
}

.product-category2 input, .product-subcategory2 input {
    flex: 1.5; /* Adjusted flex size to make fields smaller */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
}

.edit-buttons2 {
    background-color: #e6e8e6;
    text-align: right;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: #115e00;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* .edit-buttons:hover {
    background-color: #006c00 !important;
} */
