.custom-modal .modal-dialog {
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-title-123{
  text-align: center;
}
.modal-body-123{
  text-align: right;
}

.modal-footer-123 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-footer-cancel-123{
  background-color: #b10000;
  border-color: #b10000;
  color: white;
  margin-right: 10px;
  width: 30%;
  height: 150%;
  border-radius: 5px;
}
.modal-footer-cancel-123:hover{
  background-color: #ee0303;
  border-color: #ee0303;
}
.modal-footer-conform-123{
  background-color: #115e00;
  border-color: #115e00;
  color: white;
  width: 30%;
  height: 150%;
  border-radius: 5px;
}
.modal-footer-conform-123:hover{
  background-color: #1b8d02;
  border-color:#1b8d02;
}