.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
} 
.cart h1 {
  color: #115e00;
  font-size: 50px;
  margin-top: -19px;
  
} 
.cart-items3159 {
  color: #115e00;
  font-size: 40px;
  margin-top: 50px;
  
} 
.checkout {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color:#115e00;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.checkout button:hover {
  background-color: rgb(39, 180, 0);
}
