/* body {
    background: #E6E8E6;
    margin: 0;
    font-family: 'Roboto', sans-serif; 
} */

/* Styling for the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling for the login box */
.login-box {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Styling for the login box header */
.login-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #115e00;
}

/* Styling for the input fields */
.input-field {
    width: 100%;
    margin-bottom: 20px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    text-align: right;
}

.input-field:focus {
    border-color: #388e3c;
    outline: none;
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.5);
}

/* Styling for the login button */
.login-button {
    width: 100%;
    padding: 12px;
    background-color: #115e00;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: #2e7d32;
    transform: translateY(-2px);
}

/* Styling for the error message */
.error-message {
    color: #d32f2f;
    margin-top: 15px;
    font-size: 14px;
}